@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 40 18% 97%;
  --foreground: 222 30% 15%;
  --card: 40 18% 98%;
  --card-foreground: 222 30% 15%;
  --popover: 40 10% 99%;
  --popover-foreground: 222 30% 15%;
  --primary: 224 96% 18%;
  --primary-foreground: 40 15% 93%;
  --secondary: 40 12% 93%;
  --secondary-foreground: 222 30% 18%;
  --muted: 40 10% 93%;
  --muted-foreground: 222 10% 42%;
  --accent: 41 52% 48%;
  --accent-foreground: 40 18% 97%;
  --destructive: 0 84% 60%;
  --destructive-foreground: 0 0% 98%;
  --border: 40 12% 88%;
  --input: 40 12% 88%;
  --ring: 224 96% 18%;
  --radius: 0.25rem;
}

.dark {
  --background: 222 40% 8%;
  --foreground: 40 15% 93%;
  --card: 222 35% 10%;
  --card-foreground: 40 15% 93%;
  --popover: 222 35% 10%;
  --popover-foreground: 40 15% 93%;
  --primary: 40 15% 93%;
  --primary-foreground: 222 40% 8%;
  --secondary: 222 25% 16%;
  --secondary-foreground: 40 15% 93%;
  --muted: 222 25% 16%;
  --muted-foreground: 222 10% 60%;
  --accent: 41 52% 48%;
  --accent-foreground: 40 15% 93%;
  --destructive: 0 63% 31%;
  --destructive-foreground: 40 15% 93%;
  --border: 222 25% 16%;
  --input: 222 25% 16%;
  --ring: 40 15% 93%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}
